<?xml version="1.0" encoding="utf-8"?>
<manifest package="hu.am2.myway"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_maps_key}"/>

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/MainBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.map.MapActivity"
            android:parentActivityName=".ui.main.MainActivity">
        </activity>

        <service
            android:name=".location.LocationService"
            />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/SettingsTheme">
        </activity>
        <activity
            android:name=".ui.history.HistoryListActivity"
            android:parentActivityName=".ui.main.MainActivity">
        </activity>

        <receiver android:name=".appwidget.MyWayWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_way_widget_info"/>
        </receiver>

        <activity
            android:name=".ui.saveway.SaveWayActivity"
            android:noHistory="true"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/SaveTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity android:name=".ui.permission.PermissionActivity"/>
        <activity
            android:name=".ui.history.HistoryMapActivity"
            android:parentActivityName=".ui.history.HistoryListActivity">
        </activity>
    </application>

</manifest>